ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.menu {
    overflow: hidden;
    background-color: #333333;
}

.right {
    float: right;
}

.left {
    float: left;
}

.vertical_line {
    border-right: 1px solid white;
}

.welcome {
    color: white;
}