<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Header</title>
    <link rel="stylesheet" type="text/css" media="all" href="../..//static/menu.css" th:href="@{/menu.css}"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css"
          integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous"/>
</head>
<body>
<div th:fragment="header" class="menu">
    <ul class="left">
        <li sec:authorize="isAuthenticated()"><a href="/notes/" th:text="#{menu.all}"></a></li>
        <li sec:authorize="isAuthenticated()"><a href="/notes/today" th:text="#{menu.today}">Today</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/notes/new" th:text="#{menu.new}">New</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/statistics}" th:text="#{menu.statistics}">Statistics</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/users}" th:text="#{menu.users}">Users</a> </li>
        <li sec:authorize="!isAuthenticated()" class="vertical_line"><a th:href="@{/login}" th:text="#{menu.login}">Login</a></li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" id="logout" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
            <a href="#" onclick="document.getElementById('logout').submit();" th:text="#{menu.logout}">Log out</a>
        </li>
    </ul>
    <ul class="right">
        <li sec:authorize="isAuthenticated()"><p class="welcome" th:text="#{menu.welcome(${#authentication.name})}"></p></li>
        <li><a th:href="@{'?lang=pl'}" th:text="#{menu.pl}">pl</a></li>
        <li><a th:href="@{'?lang=en_US'}" th:text="#{menu.eng}">eng</a></li>
    </ul>
</div>
</body>
</html>