<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{notes.list.title}">Notes list</title>
</head>
<body>
<div th:fragment="notes_list(notes)">
    <table class="pure-table pure-table-striped">
        <thead>
        <tr>
            <th th:text="#{notes.list.header.start}">Start</th>
            <th th:text="#{notes.list.header.end}">End</th>
            <th th:text="#{notes.list.header.content}">Content</th>
            <th th:text="#{notes.list.header.tags}">Tags</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${notes}">
            <td th:text="${#temporals.format(note.start,'HH:mm')}">Unknown</td>
            <td th:text="${#temporals.format(note.end,'HH:mm')}">Unknown</td>
            <td th:text="${note.noteContent}">Unknown</td>
            <td>
                <div th:each="tag : ${#strings.arraySplit(note.tags,' ')}"><a th:href="@{'/notes/tag/'+${tag}}"
                                                                              th:text="${tag}"/></div>
            </td>
            <td><a th:href="@{'/notes/'+${note.id}}" th:text="#{notes.list.item.open}"/></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>