<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{users.list.title}">Notes list</title>
</head>
<body>
<div th:fragment="users_list(users)">
    <table class="pure-table pure-table-striped">
        <thead>
        <tr>
            <th th:text="#{users.list.header.user}">Start</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.login}">Unknown</td>
            <td><a th:href="@{'/users/'+${user.id}}" th:text="#{users.list.header.view}"/></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>