<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{error.title}">Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/header">
    Header
</div>
<p th:text="#{error.message}">Something went wrong smutnabuzia.</p>
</body>
</html>