<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/header">
    Header
</div>
<form role="form" th:action="@{/login}" method="post" class="pure-form pure-form-aligned">
    <fieldset>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div class="pure-control-group">
            <label for="login" th:text="#{login.login_label}">Login</label>
            <input type="text" name="login" id="login" required="required" autofocus="autofocus"/>
        </div>
        <div class="pure-control-group">
            <label for="password" th:text="#{login.password_label}">Password</label>
            <input type="password" name="password" id="password" required="required"/>
        </div>
        <div class="pure-control-group">
            <label for="remember-me" th:text="#{login.remember_label}">Remember me</label>
            <input type="checkbox" name="remember-me" id="remember-me"/>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary" th:text="#{login.sign_in_label}">Sign in</button>
        </div>
    </fieldset>
</form>
</body>
</html>