<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css"/>
    <link rel="stylesheet" th:href="@{/form.css}"/>
    <script src="https://unpkg.com/flatpickr"/>
    <title th:text="#{new_note.title}">New note</title>
</head>
<body>
<div th:replace="fragments/header">
    Header
</div>
<form action="#" th:action="@{/notes/new}" th:object="${noteForm}" method="post" class="pure-form pure-form-aligned">
    <input hidden="hidden" th:field="*{id}"/>
    <fieldset>
        <div class="pure-control-group">
            <label for="start" th:text="#{new_note.form.start_label}">Start date and time: </label>
            <input type="text" class="flatpickr" data-enable-time="true" data-time_24hr="true" th:field="*{start}"
                   id="start" required="required"/>
        </div>
        <div class="pure-control-group">
            <p th:if="${#fields.hasErrors('start')}" th:errors="*{start}" class="error">Start time error</p>
        </div>
        <div class="pure-control-group">
            <label for="end" th:text="#{new_note.form.end_label}">End date and time: </label>
            <input type="text" class="flatpickr" data-enable-time="true" data-time_24hr="true" th:field="*{end}"
                   id="end" required="required"/>
        </div>
        <div class="pure-control-group">
            <label for="notePrivacy" th:text="#{new_note.form.privacy_label}">Privacy:</label>
            <select id="notePrivacy" th:field="*{notePrivacy}">
                <option th:each="notePrivacy: ${T(pl.koobe24.noter.bean.Note.NotePrivacy).values()}"
                        th:value="${notePrivacy}" th:text="#{${notePrivacy.displayName}}"
                th:selected="${noteForm.notePrivacy == notePrivacy}"/>
            </select>
        </div>
        <div class="pure-control-group">
            <p th:if="${#fields.hasErrors('end')}" th:errors="*{end}" th:class="error">End time error</p>
            <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="error">Start > End error</p>
        </div>
        <div class="pure-control-group">
            <label for="content" th:text="#{new_note.form.content_label}">Note content: </label>
            <textarea th:field="*{noteContent}" id="content" required="required"></textarea>
        </div>
        <div class="pure-control-group">
            <p th:if="${#fields.hasErrors('noteContent')}" th:errors="*{noteContent}" th:class="error"/>
        </div>
        <div class="pure-control-group">
            <label for="tags" th:text="#{new_note.form.tags_label}">Tags: </label>
            <input th:field="*{tags}" id="tags"/>
            <p th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}" th:class="error">Tags error</p>
        </div>
        <div class="pure-controls">
            <button type="submit" th:value="#{new_note.form.submit}" class="pure-button pure-button-primary"
                    th:text="#{new_note.form.submit}">Submit
            </button>
            <button type="reset" th:value="#{new_note.form.reset}" class="pure-button pure-button-primary"
                    th:text="#{new_note.form.reset}">Reset
            </button>
        </div>
    </fieldset>
</form>

<script>
    flatpickr(".flatpickr", {
        allowInput: true
    });
</script>
</body>
</html>