<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{notes.title}">Notes</title>
</head>
<body>
<div th:replace="fragments/header">
    Header
</div>
<div th:each="key : ${notesMap.keySet()}">
    <h2><a th:href="@{'/notes/for_day/'+${key.toString()}}" th:text="${#temporals.format(key,'dd/MM/yyyy')}" class="pure-menu-link"/></h2>
    <a th:href="@{/notes/to_file(date=${key.toString()})}" class="pure-menu-link" th:text="#{notes.to_txt}">To .txt</a>
    <div th:replace="fragments/notes_list::notes_list(${notesMap.get(key)})"></div>
</div>
</body>
</html>