<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{statistics.title}">Statistics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" th:inline="javascript">
        google.load('visualization', '1.0', {'packages': ['corechart']});
        google.setOnLoadCallback(drawTagsChart);
        function drawTagsChart() {
            var data = new google.visualization.DataTable();
            /*<![CDATA[*/
            var chartData =[[${chart_data}]];
            var tagsName = [[#{statistics.chart.tags}]];
            var minutesName = [[#{statistics.chart.minutes}]];
            var title = [[#{statistics.chart.title}]]
            /*]]>*/
            data.addColumn('string', tagsName);
            data.addColumn('number', minutesName);
            for (var key in chartData) {
                data.addRow([key, chartData[key]]);
            }
            var options = {
                'title': title,
                'width': 500,
                'height': 300
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options)
        }
    </script>
</head>
<body>
<div th:replace="fragments/header">
    Header
</div>
<div id="chart_div" style="width:400; height:300"></div>
</body>
</html>