<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{users.title}">Users</title>
</head>
<body>
<div th:replace="fragments/header">
    Header
</div>
<div th:replace="fragments/users_list::users_list(${users})">
</div>
</body>
</html>