<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${#temporals.format(note.start,'dd/MM/yyyy')}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/header">
    Header
</div>

<div>
    <h2 th:text="${#temporals.format(note.start,'dd/MM/yyyy')}"></h2>
    <p><span th:text="${#temporals.format(note.start,'HH:mm')}"/> - <span
            th:text="${#temporals.format(note.end,'HH:mm')}"/> (<span th:text="#{note.minutes(${note.getMinutes()})}"/>)
    </p>
    <div th:text="${note.noteContent}"></div>
    <div><a th:href="@{'/notes/edit/'+${note.id}}"><button class="pure-button" th:text="#{note.edit}"/></a>
        <a th:href="@{'/notes/delete/'+${note.id}}"><button class="pure-button" th:text="#{note.delete}"/></a></div>
</div>
</body>
</html>